<!-- footer for all pages -->

<footer class="text-center text-white footer navbar-fixed-bottom" style="background-color: #f1f1f1; margin-top: 20px;">
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Github -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://github.com/KeaneCarotenuto"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-dark" href="mailto: KeaneCarotenuto@gmail.com">Keane Carotenuto</a>
    </div>
    <!-- Copyright -->
  </footer>


</body>
</html>