<!-- header partial -->
<%- include ("partials/header.ejs", {currentUser : currentUser}) %>
<!-- Use bootstrap grid system to create a responsive page! -->

<body>
    <!-- login form with username and password -->
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Sign In</h5>
                        <!-- hiding error message -->
                        <div class="alert alert-danger" id="error-message" style="display:none;">
                            <strong>Error!</strong> Invalid username or password.
                        </div>
                        
                        <form class="form-signin" action="/dosignin" method="post">
                            <div class="form-label-group">
                                <label for="inputUsername">Username</label>
                                <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required autofocus>
                            </div>

                            <div class="form-label-group">
                                <label for="inputPassword">Password</label>
                                <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
                            </div>
                            
                            <hr class="my-4">

                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>

                            <hr class="my-4">

                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="button" onclick="window.location.href='/newuser'">Sign Up</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    // check for fragment in url
    var url = window.location.href;
    var fragment = url.split('#')[1];
    if (fragment == "fail") {
        // if fragment exists, set username and password to red
        document.getElementById('inputUsername').style.borderColor = 'red';
        document.getElementById('inputPassword').style.borderColor = 'red';

        // set focus to username
        document.getElementById('inputUsername').focus();

        // show error message
        document.getElementById('error-message').style.display = 'block';
    }
</script>